.square{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: antiquewhite;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.corona{
    background-image : url('./corona.jpg');
    background-size:    cover;
}